.previewCard {
    transition: all 0.5s ease-in-out;
}

.previewCard:hover {
    transform: scale(1.2);
}

.card-header {
    width: 100%;
}

.card-header span:first-child {
    float: left;
}

.card-header span:last-child {
    float: right;
}


.modalbtn:hover span:last-child {
    margin-left: 40px;
}